/* DIRTY Responsive pricing table CSS */

/*
- make mobile switch sticky
*/

.features article {
  width:100%;
  max-width:1000px;
  margin:0 auto;
  height:auto;
  position:relative;
}
.features ul {
  display:flex;
  top:0px;
  z-index:10;
  padding-bottom:14px;
}
.features li {
  list-style:none;
  flex:1;
}
.features li:last-child {
  border-right:1px solid #DDD;
}
.features button {
  width:100%;
  border: 1px solid #DDD;
  border-right:0;
  border-top:0;
  padding: 10px;
  background:#FFF;
  font-size:14px;
  font-weight:bold;
  height:60px;
  color:#999
}
.features li.active button {
  background:#F5F5F5;
  color:#000;
}
.features table { border-collapse:collapse; table-layout:fixed; width:100%; }
.features th { background:#F5F5F5; display:none; }
.features td, th {
  height:53px
}
.features td,th { border:1px solid #DDD; padding:10px; empty-cells:show; }
.features td,th {
  text-align:left;
}
.features td+td, th+th {
  text-align:center;
  display:none;
}
.features td.default {
  display:table-cell;
}
.features .bg-purple {
  border-top:3px solid #A32362;
}
.features .bg-blue {
  border-top:3px solid #0097CF;
}
.features .sep {
  background:#F5F5F5;
  font-weight:bold;
}
.features .txt-l { font-size:28px; font-weight:bold; }
.features .txt-top { position:relative; top:-9px; left:-2px; }
.features .tick { font-size:18px; color:#2CA01C; }
.features .hide {
  border:0;
  background:none;
}

@media (min-width: 640px) {
  .features ul {
    display:none;
  }
  .features td,th {
    display:table-cell !important;
  }
  .features td,th {
    width: 330px;

  }
  .features td+td, th+th {
    width: auto;
  }
}